.top {
  width: 100%;
  height: 70px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  z-index: 999;
  background: transparent;
  background-color: #fff;
  border-bottom: 1px solid lightgray;
}
.topLeft,
.topRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid greenyellow; */
}
.topLeft > a > h3 {
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif;
}
.topImg {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}
.topCenter {
  flex: 6;
  /* border: 2px solid brown; */
}

.topList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}
.mobile,
.bars {
  display: none;
}

@media screen and (max-width: 700px) {
  .top {
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 3%;
  }
  .topLeft {
    justify-content: flex-start;
    width: fit-content;
    flex: 0;
    display: block;
  }
  .topCenter,
  .topRight {
    display: none;
  }
  .bars {
    display: block;
    font-size: 24px;
    color: black;
  }
  .mobile {
    display: block;
    height: fit-content;
    width: fit-content;
    position: absolute;
    right: 3%;
    top: 60px;
    padding: 20px;
    border-radius: 8px;
    background: rgb(173, 175, 173);
  }
  .topList {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .logoutButton {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px;
  }
}
