.home {
  display: flex;
  box-sizing: border-box;
  border: 2px solid green;
}

@media screen and (max-width: 420px) {
  .home {
    flex-direction: column-reverse;
    box-sizing: border-box;
    padding: 0 3%;
  }
}
