.write {
  padding-top: 50px;
}

.writeImg {
  margin-left: 150px;
  width: 70vw;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.writeForm {
  background: transparent;
  position: relative;
}

.writeFormGroup {
  margin-left: 150px;
  display: flex;
  align-items: center;
}
.writeFormGroupSelect {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-left: 150px;
}
.writeFormGroupSelect > label {
  font-size: 25px;
  color: rgb(121, 118, 118);
  margin-bottom: 10px;
}
.writeFormGroupSelect > select {
  height: 40px;
  color: rgb(121, 118, 118);
}
.writeFormGroupSelect > select:focus {
  outline: none;
}

.writeIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: rgb(121, 118, 118);
  cursor: pointer;
}

.writeInput {
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 70vw;
}
.writeInput:focus {
  outline: none;
}

.writeText {
  font-size: 20px;
  height: 80vh;
}
.writeSubmit {
  position: absolute;
  top: 20px;
  right: 50px;
  color: #fff;
  background-color: teal;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

@media screen and (max-width: 820px) {
  .writeImg {
    width: 85vw;
    margin-left: 50px;
  }
  .writeFormGroup,
  .writeFormGroupSelect {
    margin-left: 50px;
  }
}
@media screen and (max-width: 420px) {
  .writeImg {
    width: 95vw;
    margin-left: 10px;
    height: 120px;
  }
  .writeInput {
    font-size: 24px;
  }
  .writeText {
    font-size: 16px;
  }
  .writeFormGroup,
  .writeFormGroupSelect {
    margin-left: 10px;
  }
  .writeFormGroupSelect > label {
    font-size: 16px;
    margin: 4px 0;
  }

  .writeSubmit {
    right: 5px;
    top: 4px;
  }
}
